<section class="wheel-friendly-hero px-10">
  <h2 class="section-title" data-aos="fade-right"><i class="fas fa-arrow-right"></i>WHEEL FRIENDLY</h2>
  <p class="section-subtitle" data-aos="fade-right" data-aos-delay="100">User flow 1: Log in system, Home, Main page</p>

  <section class="wheel-friendly-info d-flex">
    <div class="wheel-friendly" data-aos="fade-up">
      <h3 class="project-title mb-30">About Wheel friendly</h3>
      <p class="mb-30">This app is created to make disabled people's lives easier, to show you all the places you can easily go to from a cup of tea to the most beautiful museums</p>
      <p class="mb-30">To help you find your dream job. Showing you all the careers that are wheelchair friendly and managers that will happily hire you!</p>
      <p class="mb-0">This is a place of support where you can meet and talk to people with disabilities all around the world.</p>
      <p class="mb-0">Keep it positive!</p>
    </div>
    <div class="wheel-friendly-images">
      <div class="img-container" data-aos="fade-up" data-aos-duration="1000">
        <img src="/assets/png-assets/Wheel Friendly Log in.png" alt="Main Log In Screen" class="img-fluid">
      </div>
      <div class="img-container" data-aos="fade-up"  data-aos-duration="1600">
        <img src="/assets/png-assets/Home.png" alt="Home Screen" class="img-fluid">
      </div>
      <div class="img-container" data-aos="fade-up"  data-aos-duration="2200">
        <img src="/assets/png-assets/Search coffe shop.png" alt="Main Log In Screen" class="img-fluid">
      </div>
    </div>
    <div class="wheel-friendly-absolute" data-aos="fade-up">
      <h3 class="project-title mb-30">What this app offers</h3>
      <p class="mb-30">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam quis illo suscipit, nostrum vitae dignissimos praesentium odit recusandae voluptatibus necessitatibus, iste illum quisquam beatae iusto?</p>
      <p class="mb-30">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam quis illo suscipit, nostrum vitae dignissimos praesentium odit recusandae voluptatibus necessitatibus, iste illum quisquam beatae iusto?</p>

    </div>
  </section>
</section>
<section class="user-flow-two px-10">
  <p class="section-subtitle">User flow 2: Profile, Chat Room, Messages</p>
</section>
