@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
@import './app/extras/index';

/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

.px-10 {
  padding: 0 100px;
}

.mb-30 {
  margin-bottom: 30px;
}
